.hero-section {

  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 5rem 2rem 0;

  h1 {
    margin: 0 auto;
    text-align: center;
    font-size: clamp(40px, calc(3.6vw + 1rem), 130px);
    font-weight: 400;
    line-height: 1.2;
    max-width: 800px;
  }

  .highlight {
    font-weight: 600;
    color: #1F6AFF;
  }
  .services-label {
    display: block;
    font-size: 0.875rem;
    color: #1F6AFF;
    margin-bottom: 8px;
  }


  .hero-bottom-text {
    width: 100%;
    text-align: left;

    h2 {
      font-size: clamp(40px, calc(3.6vw + 1rem), 49px); // Максимум 49px
      margin: 0 0 12px;
    }

    .services-intro {
      max-width: 550px;
      font-size: clamp(16px, calc(1.5vw + 0.5rem), 20px); // Максимум 20px
      color: #ffffff;
      font-family: "General Sans Variable", sans-serif;
      font-weight: 600;

     .styled-text {
        color: #D9D9DA;
        font-weight: 300; // Відповідає стилю Body Text/B1 Highlight
        line-height: 26px;
        letter-spacing: 0px;
      }
    }
  }

  .mobile-break {
    display: none; // За замовчуванням приховано

    @media (max-width: 768px) {
      display: inline; // Вмикається тільки для мобільних пристроїв
    }
  }

}
