body {
  margin: 0;
  padding: 0;
  background: #01010A;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
